<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDY2oEXyg62RqpK3_MSA6mjG0gMPo5tGWI</string>
	<key>GCM_SENDER_ID</key>
	<string>1026506712706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.react-native.videochat</string>
	<key>PROJECT_ID</key>
	<string>rnvideochat-ea4ab</string>
	<key>STORAGE_BUCKET</key>
	<string>rnvideochat-ea4ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026506712706:ios:c868dc0cb7f8b2aa0ff69b</string>
</dict>
</plist>