<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391534312937-eim0k47ld0thvjjurapmv6dpk2m68rn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391534312937-eim0k47ld0thvjjurapmv6dpk2m68rn6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391534312937-ekrf0r597epq7sa0r4fr8vpjn8ro4oda.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDu1mXViK41eIEK6P6aR6Nm1FtZqE1qG_w</string>
	<key>GCM_SENDER_ID</key>
	<string>391534312937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnvideochat</string>
	<key>PROJECT_ID</key>
	<string>rnvideochat-5008b</string>
	<key>STORAGE_BUCKET</key>
	<string>rnvideochat-5008b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391534312937:ios:c33cdef9e260d0fca09f78</string>
</dict>
</plist>