<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGhYzIME5WbFZuG6ao3Pzkk88inw9TBLM</string>
	<key>GCM_SENDER_ID</key>
	<string>451292833973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.react-native.chat</string>
	<key>PROJECT_ID</key>
	<string>rnchat-a10f4</string>
	<key>STORAGE_BUCKET</key>
	<string>rnchat-a10f4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451292833973:ios:9313e36fafab753943b6fc</string>
</dict>
</plist>